{:dependencies [[org.slf4j/slf4j-nop "2.0.3"]
                [binaryage/devtools "1.0.7"]
                [reagent "1.2.0"]
                [re-frame "1.4.2"]]
 
 :dev-http {8000 "resources/public"}
 
 :source-paths ["src"]
 
 :builds {:app
          {:target :browser
           :output-dir "resources/public/js"
           :asset-path "/js"
           :modules {:main {:init-fn todomvc.main/init!}}}}}
